script(src='/socket.io/socket.io.js')
if isCPS
  script(src="https://cdn.bootcss.com/angular.js/1.5.6/angular.min.js")
  script(src='dest/builtmb.min.js')
  //- script(src='module/abt/angular.1.5.6.min.js')
else
  script(src='module/abt/angular.1.5.6.min.js')
  script(src='module/abt/angular-sanitize.1.5.6.min.js')
  script(src='module/mobile/mobile-angular-ui.min.js')
  script(src='module/mobile/mobile-angular-ui.gestures.min.js')

  script(src='module/angular-route.min.js')


//- script(src='mobilecomponent/mbpoll.js')
//- script(src='usercomponent/userservices.js')
//- script(src='pollcomponent/pollservices.js')
script(src='dest/builtmymb.min.js')
//- script(src='mobilecomponent/sidebarcontroller.js')


//- script(src='module/abt/angular-animate.min.js')





//- script(src='module/abt/angular.min.js')
//- script(src='module/abt/angular-sanitize.min.js')
//- script(src='module/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')


//- script(src="//cdn.bootcss.com/angular.js/1.6.3/angular.min.js")
//- script(src='//cdn.bootcss.com/angular-sanitize/1.6.3/angular-sanitize.min.js')
//- script(src='//cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js')




