doctype html
html(lang='en', ng-app='polls')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title 轻松投
		link(rel='stylesheet' href='../public/dest/built.min.css')
		//- link(rel='stylesheet' href='../public/dest/built.css')
		//- link(rel='stylesheet' href='../public/stylesheets/bootstrap_cus.min.css')
		//- link(rel='stylesheet' href='../public/stylesheets/normalize.css')
		//- link(rel='stylesheet' href='../public/stylesheets/poll.css')
		script(src='/socket.io/socket.io.js')
		//- script(src='../framework/angular-1.3.0.14/angular.min.js')
		//- script(src='../framework/angular-1.3.0.14/angular-route.min.js')
		//- script(src='../public/javascripts/clientroute.js')
		//- script(src='../public/javascripts/pollcontrollers.js')
		//- script(src='../public/javascripts/usercontroller.js')
		//- script(src='../public/javascripts/userservices.js')
		//- script(src='../public/javascripts/pollservices.js')

		//- script(src='../public/dest/built.min.js')

	body(ng-controller="HomeCtrl" )
		header
			.header_main_top
				nav.top
					span.notice 公告：新用户发布投票须知
					//- input(ng-model='islogin')
					//- input(ng-model='username')
					ul
						li
							a(href='#') 联系我们
							span
						li
							a(href='#') 帮助中心
							span
						li(ng-hide='islogin')
							a(href='#/login' ng-hide='islogin' ) 登录
							a(href='#/register' ng-hide='islogin') 注册
						li(ng-show='islogin' ) 欢迎您，{{currusername}}
							span
							a(href='#' ng-click='logout()' ng-controller="UserCtrl") 登出
			.header_main_center
				nav.main
					.flex1
						a(href='#').brand
							img(src='../public/img/logo_nowords.png' alt='回到首页')
					.flex3
						.header_search
							input(ng-model="query"  placeholder="输入关键字搜索")
						ul
							li
								a(href="#")#mainpage 首页
							li
								a(href="#/new")#newpoll +发起投票
							//- li
							//- 	a(href="#")#findpoll 所有投票
							li
								a(href="#/mypolls" )#findpoll 我发起的投票
							li
								a(href="#/myvotes")#findpoll 我参与的投票
					.flex1(ng-click="showmenu=showmenu?false:true" ng-init="showmenu=false")
						.wrap-tri-b
							.line-tri-b
		//- div.wid12rem
		div.menuwrap(ng-show='showmenu' ng-click="showmenu=false")
			div.dropmenu
				a(href="#/new") +发起投票
				a(href="#/mypolls" ) 我发起的投票
				a(href="#/myvotes") 我参与的投票
				a(href='#/login' ng-hide='islogin') 登录
				a(href='#/register' ng-hide='islogin') 注册
				a(href='#' ng-click='logout()' ng-controller="UserCtrl") 登出
		div.container
			div(ng-view)
		script(src='../public/dest/built.js')
		//- script(src='../public/javascripts/userscript.js')