//- link(rel='stylesheet' href='module/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
link(rel='stylesheet' href='routercomponent/stylesheets/polles.css')
//- link(rel='stylesheet' href='routercomponent/stylesheets/polles.min.css')