script(src='/socket.io/socket.io.js')


//- script(src='module/abt/angular.min.js')
//- script(src='module/abt/angular-sanitize.min.js')
//- script(src='module/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')

script(src="//cdn.bootcss.com/angular.js/1.6.3/angular.min.js")
script(src='//cdn.bootcss.com/angular-sanitize/1.6.3/angular-sanitize.min.js')
script(src='//cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js')


script(src='module/abt/angular-animate.min.js')


//- script(src='module/angular-route.min.js')
//- script(src='routercomponent/clientroute.js')
//- script(src='usercomponent/Headermodule.js')
//- script(src='pollcomponent/pollcontrollers.js')
//- script(src='usercomponent/userservices.js')
//- script(src='pollcomponent/pollservices.js')
script(src='dest/built.js')