link(rel='stylesheet' href='module/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='routercomponent/stylesheets/polles.css')
script(src='/socket.io/socket.io.js')
//- script(src='module/abt/angular.min.js')
script(src="//cdn.bootcss.com/angular.js/1.6.3/angular.min.js")
script(src='module/abt/angular-animate.min.js')
script(src='module/abt/angular-sanitize.min.js')
script(src='module/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
script(src='module/angular-route.min.js')
script(src='routercomponent/clientroute.js')
script(src='usercomponent/Headermodule.js')
script(src='pollcomponent/pollcontrollers.js')
script(src='usercomponent/usercontroller.js')
script(src='usercomponent/userservices.js')
script(src='pollcomponent/pollservices.js')